# Celaning of the data

In [1]:
## importación de librerías
import pandas as pd
import numpy as np

#pd.set_option('display.max_rows', None)

In [2]:
## importamos datos
layoffs = pd.read_csv('../Data/layoffs.csv')

### General Vision

In [34]:
layoffs['total_laid_off'] = layoffs['total_laid_off'].replace('.',',')

In [35]:
layoffs.head()

,company,location,industry,total_laid_off,percentage_laid_off,date,stage,country,funds_raised_millions
0,Atlassian,Sydney,Other,500.0,0.05,2023-03-06,Post-IPO,Australia,210.0
1,SiriusXM,New York City,Media,475.0,0.08,2023-03-06,Post-IPO,United States,525.0
2,Alerzo,Ibadan,Retail,400.0,0.10,2023-03-06,Series B,Nigeria,16.0
3,UpGrad,Mumbai,Education,120.0,0.10,2023-03-06,Unknown,India,631.0
4,Loft,Sao Paulo,Real Estate,340.0,0.15,2023-03-03,Unknown,Brazil,788.0

In [4]:
layoffs.shape

(2361, 9)

In [5]:
layoffs.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2361 entries, 0 to 2360
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   company                2361 non-null   object
 1   location               2361 non-null   object
 2   industry               2357 non-null   object
 3   total_laid_off         1621 non-null   float64
 4   percentage_laid_off    1576 non-null   float64
 5   date                   2360 non-null   object
 6   stage                  2355 non-null   object
 7   country                2361 non-null   object
 8   funds_raised_millions  2152 non-null   float64
dtypes: float64(3), object(6)
memory usage: 965.0 KB

In [6]:
layoffs.describe().T

,count,mean,std,min,25%,50%,75%,max
total_laid_off,1621.0,238.358421,769.718801,3.0,36.0,80.00,180.0,12000.0
percentage_laid_off,1576.0,0.257917,0.255575,0.0,0.1,0.17,0.3,1.0
funds_raised_millions,2152.0,822.454134,5593.961626,0.0,50.0,156.50,445.0,121900.0

## Duplicates

In [7]:
layoffs.duplicated().sum()

5

In [8]:
layoffs.drop_duplicates(inplace=True)

## Standarization

In [9]:
#comprobamos donde está el nulo y qué influencia puede tener
layoffs.date.isnull().sum()
layoffs.loc[layoffs.date.isnull()]

#lo borramos
layoffs.drop(index = 2356, inplace=True)

In [10]:
#hemos comprobado que la columna date está en tipo object, así que la pasaremos a su formato date

layoffs['date'] = pd.to_datetime(layoffs['date'])

In [11]:
layoffs.describe(include='object').T

         count unique            top  freq
company   2355   1892           Loft     6
location  2355    190    SF Bay Area   613
industry  2351     32        Finance   284
stage     2349     16       Post-IPO   425
country   2355     60  United States  1538

In [12]:
# valores unicos
layoffs['company'].sort_values()

486               E Inc.
1218     Included Health
235                #Paid
677                &Open
1283         100 Thieves
              ...
106               iRobot
1763              kununu
323                nCino
1782               tZero
2239               uShip
Name: company, Length: 2355, dtype: object

In [13]:
layoffs.columns

Index(['company', 'location', 'industry', 'total_laid_off',
       'percentage_laid_off', 'date', 'stage', 'country',
       'funds_raised_millions'],
      dtype='object')

In [14]:
layoffs['country'].str.strip()
layoffs['company'].str.strip()
layoffs['location'].str.strip()
layoffs['industry'].str.strip()
layoffs['stage'].str.strip()

0       Post-IPO
1       Post-IPO
2       Series B
3        Unknown
4        Unknown
          ...
2351        Seed
2352     Unknown
2353        Seed
2354    Series C
2355    Series A
Name: stage, Length: 2355, dtype: object

In [15]:
layoffs['company'].sort_values().unique

<bound method Series.unique of 486               E Inc.
1218     Included Health
235                #Paid
677                &Open
1283         100 Thieves
              ...
106               iRobot
1763              kununu
323                nCino
1782               tZero
2239               uShip
Name: company, Length: 2355, dtype: object>

## Null values

In [30]:
layoffs.shape

(2141, 9)

In [29]:
#porcentaje de nulos

layoffs.isnull().sum()/len(layoffs)

company                  0.0
location                 0.0
industry                 0.0
total_laid_off           0.0
percentage_laid_off      0.0
date                     0.0
stage                    0.0
country                  0.0
funds_raised_millions    0.0
dtype: float64

In [18]:
layoffs.loc[layoffs.total_laid_off.isnull()]

,company,location,industry,total_laid_off,percentage_laid_off,date,stage,country,funds_raised_millions
9,Accolade,Seattle,Healthcare,NaN,NaN,2023-03-03,Post-IPO,United States,458.0
10,Indigo,Boston,Other,NaN,NaN,2023-03-03,Series F,United States.,1200.0
16,Flipkart,Bengaluru,Retail,NaN,NaN,2023-03-02,Acquired,India,12900.0
17,Kandela,Los Angeles,Consumer,NaN,1.0,2023-03-02,Acquired,United States,NaN
18,Truckstop.com,Boise,Logistics,NaN,NaN,2023-03-02,Acquired,United States,NaN
...,...,...,...,...,...,...,...,...,...
2340,Vacasa,Portland,Travel,NaN,NaN,2020-03-20,Series C,United States,526.0
2345,Anyvision,Tel Aviv,Security,NaN,NaN,2020-03-19,Series A,Israel,74.0
2346,Popin,New York City,Fitness,NaN,1.0,2020-03-19,Unknown,United States,13.0
2347,Tuft & Needle,Phoenix,Retail,NaN,NaN,2020-03-19,Acquired,United States,0.0
2351,Service,Los Angeles,Travel,NaN,1.0,2020-03-16,Seed,United States,5.1

In [19]:
layoffs.dropna(subset=['stage'], inplace=True)
layoffs.dropna(subset=['industry'], inplace=True)
layoffs.dropna(subset=['funds_raised_millions'], inplace=True)

In [20]:
layoffs['total_laid_off'].fillna(layoffs['total_laid_off'].mode()[0], inplace=True)
layoffs['percentage_laid_off'].fillna(layoffs['percentage_laid_off'].mode()[0], inplace=True)

In [21]:
layoffs.loc[(layoffs.stage == 'Unknown')]

,company,location,industry,total_laid_off,percentage_laid_off,date,stage,country,funds_raised_millions
3,UpGrad,Mumbai,Education,120.0,0.10,2023-03-06,Unknown,India,631.0
4,Loft,Sao Paulo,Real Estate,340.0,0.15,2023-03-03,Unknown,Brazil,788.0
6,Lendi,Sydney,Real Estate,100.0,0.10,2023-03-03,Unknown,Australia,59.0
33,Amount,Chicago,Finance,130.0,0.25,2023-02-27,Unknown,United States,283.0
37,BitSight,Tel Aviv,Security,40.0,0.10,2023-02-26,Unknown,Israel,401.0
...,...,...,...,...,...,...,...,...,...
2310,Jama,Portland,Product,12.0,0.05,2020-03-25,Unknown,United States,233.0
2322,Peerfit,Tampa Bay,HR,100.0,0.40,2020-03-24,Unknown,United States,47.0
2329,GrayMeta,Los Angeles,Data,20.0,0.40,2020-03-23,Unknown,United States,7.0
2346,Popin,New York City,Fitness,100.0,1.00,2020-03-19,Unknown,United States,13.0
2352,HopSkipDrive,Los Angeles,Transportation,8.0,0.10,2020-03-13,Unknown,United States,45.0

In [22]:
layoffs.describe().T

,count,mean,std,min,25%,50%,75%,max
total_laid_off,2141.0,185.884633,622.517733,3.0,50.0,100.0,110.0,12000.0
percentage_laid_off,2141.0,0.201456,0.215037,0.0,0.1,0.1,0.2,1.0
funds_raised_millions,2141.0,818.788088,5606.534076,0.0,50.0,156.0,441.0,121900.0

In [38]:
layoffs.to_csv('../Data/layoffs_clean.csv', index=False)

# Joins o Merge, and concatenate

In [ ]:
df_2 = layoffs 
df_2.head()

,company,location,industry,total_laid_off,percentage_laid_off,date,stage,country,funds_raised_millions
0,Atlassian,Sydney,Other,500.0,0.05,2023-03-06,Post-IPO,Australia,210.0
1,SiriusXM,New York City,Media,475.0,0.08,2023-03-06,Post-IPO,United States,525.0
2,Alerzo,Ibadan,Retail,400.0,NaN,2023-03-06,Series B,Nigeria,16.0
3,UpGrad,Mumbai,Education,120.0,NaN,2023-03-06,Unknown,India,631.0
4,Loft,Sao Paulo,Real Estate,340.0,0.15,2023-03-03,Unknown,Brazil,788.0

In [ ]:
df_3 = layoffs.merge(df_2)
df_3.head()

,company,location,industry,total_laid_off,percentage_laid_off,date,stage,country,funds_raised_millions
0,Atlassian,Sydney,Other,500.0,0.05,2023-03-06,Post-IPO,Australia,210.0
1,SiriusXM,New York City,Media,475.0,0.08,2023-03-06,Post-IPO,United States,525.0
2,Alerzo,Ibadan,Retail,400.0,NaN,2023-03-06,Series B,Nigeria,16.0
3,UpGrad,Mumbai,Education,120.0,NaN,2023-03-06,Unknown,India,631.0
4,Loft,Sao Paulo,Real Estate,340.0,0.15,2023-03-03,Unknown,Brazil,788.0

# Pivot Table

In [ ]:
layoffs.head()

,company,location,industry,total_laid_off,percentage_laid_off,date,stage,country,funds_raised_millions
0,Atlassian,Sydney,Other,500.0,0.05,2023-03-06,Post-IPO,Australia,210.0
1,SiriusXM,New York City,Media,475.0,0.08,2023-03-06,Post-IPO,United States,525.0
2,Alerzo,Ibadan,Retail,400.0,NaN,2023-03-06,Series B,Nigeria,16.0
3,UpGrad,Mumbai,Education,120.0,NaN,2023-03-06,Unknown,India,631.0
4,Loft,Sao Paulo,Real Estate,340.0,0.15,2023-03-03,Unknown,Brazil,788.0

In [ ]:
layoffs['stage'].unique()

array(['Post-IPO', 'Series B', 'Unknown', 'Acquired', 'Series F',
       'Series E', 'Series A', 'Subsidiary', 'Series C', 'Series G',
       'Series D', 'Seed', 'Series H', 'Private Equity', 'Series J',
       'Series I'], dtype=object)

In [ ]:
# para sustituir y estandarizar

layoffs['industry'] = layoffs['industry'].replace({'.*Crypto.*' : 'Crypto'}, regex = True)

In [ ]:
layoffs['company'].__len__

<bound method Series.__len__ of 0           Atlassian
1            SiriusXM
2              Alerzo
3              UpGrad
4                Loft
            ...
2351          Service
2352     HopSkipDrive
2353      Panda Squad
2354    Tamara Mellon
2355         EasyPost
Name: company, Length: 2355, dtype: object>

In [ ]:
layoffs.pivot_table(index='stage', columns='industry', values = 'total_laid_off', aggfunc = sum)

industry,Aerospace,Construction,Consumer,Crypto,Crypto Currency,CryptoCurrency,Data,Education,Energy,Fin-Tech,...,Other,Product,Real Estate,Recruiting,Retail,Sales,Security,Support,Transportation,Travel
stage,,,,,,,,,,,,,,,,,,,,,
Acquired,NaN,0.0,2507.0,390.0,NaN,NaN,124.0,3348.0,NaN,NaN,...,1089.0,19.0,68.0,1260.0,2304.0,200.0,583.0,609.0,1999.0,6561.0
Post-IPO,0.0,0.0,32010.0,2180.0,NaN,NaN,2842.0,176.0,0.0,NaN,...,29102.0,130.0,5552.0,NaN,31763.0,11478.0,1922.0,1806.0,18247.0,3359.0
Private Equity,NaN,NaN,NaN,110.0,NaN,NaN,130.0,4027.0,NaN,NaN,...,0.0,NaN,NaN,39.0,110.0,283.0,125.0,30.0,40.0,2044.0
Seed,NaN,140.0,28.0,105.0,NaN,NaN,NaN,270.0,NaN,NaN,...,104.0,6.0,NaN,0.0,123.0,NaN,100.0,49.0,0.0,0.0
Series A,NaN,60.0,90.0,620.0,NaN,NaN,379.0,821.0,97.0,20.0,...,98.0,78.0,88.0,223.0,456.0,11.0,90.0,0.0,101.0,88.0
Series B,NaN,409.0,416.0,181.0,42.0,NaN,258.0,507.0,0.0,70.0,...,818.0,163.0,948.0,435.0,1478.0,190.0,270.0,191.0,928.0,709.0
Series C,NaN,0.0,188.0,511.0,NaN,NaN,200.0,91.0,135.0,125.0,...,2273.0,227.0,1549.0,342.0,1993.0,119.0,1278.0,382.0,355.0,364.0
Series D,NaN,240.0,211.0,598.0,NaN,NaN,363.0,795.0,120.0,NaN,...,1387.0,172.0,802.0,331.0,1781.0,55.0,324.0,354.0,2255.0,1250.0
Series E,NaN,400.0,1610.0,280.0,NaN,NaN,475.0,1488.0,450.0,NaN,...,120.0,NaN,799.0,NaN,799.0,230.0,235.0,76.0,258.0,90.0
Series F,NaN,NaN,250.0,44.0,NaN,NaN,80.0,NaN,NaN,NaN,...,80.0,299.0,NaN,NaN,823.0,165.0,698.0,0.0,684.0,1850.0
Series G,NaN,NaN,194.0,NaN,NaN,NaN,70.0,NaN,NaN,NaN,...,NaN,NaN,375.0,NaN,84.0,351.0,NaN,NaN,600.0,NaN
Series H,NaN,NaN,500.0,NaN,NaN,NaN,NaN,1500.0,0.0,NaN,...,NaN,NaN,850.0,NaN,NaN,27.0,NaN,NaN,NaN,NaN
Series I,NaN,NaN,160.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,360.0,NaN
Series J,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2800.0,NaN
Subsidiary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,300.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,289.0,NaN
Unknown,661.0,2614.0,6618.0,5564.0,0.0,68.0,214.0,315.0,0.0,NaN,...,418.0,139.0,6534.0,145.0,1899.0,107.0,354.0,26.0,2332.0,814.0

## Remove Innecesary Columns