# Data Cleaning

Data cleaning is a crucial step in this project to ensure accuracy and reliability. The process involves:

- Handling missing values
- Correcting inconsistencies
- Removing duplicates
- Standardizing data formats
- Addressing outliers

In [1]:
## libraries
import pandas as pd
import numpy as np

#pd.set_option('display.max_rows', None)

In [2]:
## importamos datos
layoffs = pd.read_csv('../Data/layoffs.csv')

## General Vision

In [3]:
layoffs['total_laid_off'] = layoffs['total_laid_off'].replace('.',',')

In [4]:
layoffs.head()

,company,location,industry,total_laid_off,percentage_laid_off,date,stage,country,funds_raised_millions
0,Atlassian,Sydney,Other,500.0,0.05,3/6/2023,Post-IPO,Australia,210.0
1,SiriusXM,New York City,Media,475.0,0.08,3/6/2023,Post-IPO,United States,525.0
2,Alerzo,Ibadan,Retail,400.0,NaN,3/6/2023,Series B,Nigeria,16.0
3,UpGrad,Mumbai,Education,120.0,NaN,3/6/2023,Unknown,India,631.0
4,Loft,Sao Paulo,Real Estate,340.0,0.15,3/3/2023,Unknown,Brazil,788.0

In [5]:
layoffs.shape

(2361, 9)

In [6]:
layoffs.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2361 entries, 0 to 2360
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   company                2361 non-null   object
 1   location               2361 non-null   object
 2   industry               2357 non-null   object
 3   total_laid_off         1621 non-null   float64
 4   percentage_laid_off    1576 non-null   float64
 5   date                   2360 non-null   object
 6   stage                  2355 non-null   object
 7   country                2361 non-null   object
 8   funds_raised_millions  2152 non-null   float64
dtypes: float64(3), object(6)
memory usage: 965.0 KB

In [7]:
layoffs.describe().T

,count,mean,std,min,25%,50%,75%,max
total_laid_off,1621.0,238.358421,769.718801,3.0,36.0,80.00,180.0,12000.0
percentage_laid_off,1576.0,0.257917,0.255575,0.0,0.1,0.17,0.3,1.0
funds_raised_millions,2152.0,822.454134,5593.961626,0.0,50.0,156.50,445.0,121900.0

## Removing duplicates

We identified duplicate entries in the dataset and removed them. The number of duplicates was relatively small and their presence did not significantly impact the overall analysis. Therefore, eliminating these duplicates helped streamline the data without affecting the integrity of our findings.

In [8]:
layoffs.duplicated().sum()

5

In [9]:
layoffs.drop_duplicates(inplace=True)

## Standarization

The column names appear to be standardized, but many of the date formats are inconsistent. To ensure uniformity across the dataset, I will standardize all date formats. This step is crucial for accurate analysis and consistency throughout the data processing pipeline.

In [10]:
layoffs.columns

Index(['company', 'location', 'industry', 'total_laid_off',
       'percentage_laid_off', 'date', 'stage', 'country',
       'funds_raised_millions'],
      dtype='object')

In [11]:
layoffs.describe(include='object').T

         count unique            top  freq
company   2356   1893           Loft     6
location  2356    191    SF Bay Area   613
industry  2352     32        Finance   284
date      2355    483       4/2/2020    27
stage     2350     16       Post-IPO   426
country   2356     60  United States  1539

In [12]:
# valores unicos
layoffs['stage'].unique()

array(['Post-IPO', 'Series B', 'Unknown', 'Acquired', 'Series F',
       'Series E', 'Series A', 'Subsidiary', 'Series C', 'Series G',
       'Series D', 'Seed', 'Series H', 'Private Equity', 'Series J', nan,
       'Series I'], dtype=object)

In [13]:
# valores unicos
layoffs['industry'].unique()

array(['Other', 'Media', 'Retail', 'Education', 'Real Estate',
       'Transportation', 'Marketing', nan, 'Healthcare', 'Security',
       'Food', 'Fitness', 'Consumer', 'Logistics', 'HR', 'Support',
       'Travel', 'Crypto', 'Finance', 'Data', 'Sales', 'Infrastructure',
       'Hardware', 'Product', 'Construction', 'Legal', 'Energy',
       'Manufacturing', 'Recruiting', 'Aerospace', 'Crypto Currency',
       'Fin-Tech', 'CryptoCurrency'], dtype=object)

In [14]:
# valores unicos
layoffs['country'].unique()

array(['Australia', 'United States', 'Nigeria', 'India', 'Brazil',
       'United States.', 'France', 'Germany', 'Israel', 'Sweden',
       'United Kingdom', 'Japan', 'South Korea', 'China', 'Italy',
       'Singapore', 'Indonesia', 'Estonia', 'Canada', 'Ireland',
       'Finland', 'Netherlands', 'Spain', 'Portugal', 'Chile', 'Colombia',
       'Argentina', 'Seychelles', 'Austria', 'Mexico', 'Switzerland',
       'Egypt', 'Kenya', 'Luxembourg', 'Greece', 'Poland', 'Norway',
       'Belgium', 'Denmark', 'Hong Kong', 'New Zealand', 'Malaysia',
       'Hungary', 'Vietnam', 'Thailand', 'Lithuania', 'Ghana', 'Senegal',
       'Pakistan', 'United Arab Emirates', 'Peru', 'Bahrain', 'Romania',
       'Turkey', 'Russia', 'Uruguay', 'Bulgaria', 'South Africa',
       'Czech Republic', 'Myanmar'], dtype=object)

In [15]:
# valores unicos
layoffs['location'].unique()

array(['Sydney', 'New York City', 'Ibadan', 'Mumbai', 'Sao Paulo',
       'SF Bay Area', 'Seattle', 'Boston', 'Blumenau', 'Pune',
       'Bengaluru', 'Los Angeles', 'Boise', 'Chicago', 'Paris',
       'Baton Rouge', 'Munich', 'Denver', 'Tel Aviv', 'Stockholm',
       'Orlando', 'Ann Arbor', 'Berlin', 'Vancouver', 'Washington D.C.',
       'London', 'San Antonio', 'St. Louis', 'Pittsburgh', 'Tokyo',
       'Lagos', 'Seoul', 'Chennai', 'Shenzen', 'Portland', 'Atlanta',
       'Albany', 'Milan', 'Singapore', 'Jakarta', 'Philadelphia',
       'Columbus', 'Tallinn', 'Phoenix', 'Toronto', 'Melbourne', 'Dublin',
       'Austin', 'New Delhi', 'Manchester', 'Miami', 'Helsinki',
       'Detroit', 'Frankfurt', 'Waterloo', 'Amsterdam', 'Barcelona',
       'Karlsruhe', 'Curitiba', 'Charlotte', 'Las Vegas', 'New Haven',
       'Montreal', 'Coimbra', 'Walldorf', 'Jersey City', 'Reno', 'Kiel',
       'Gurugram', 'Nashville', 'Mexico City', 'Oxford', 'Calgary',
       'Boulder', 'Wilmington', 'Cincinnati', 'Providence', 'Santiago',
       'Dallas', 'Bogota', 'Buenos Aires', 'Indore', 'Patna', 'Brisbane',
       'Bismarck', 'Baltimore', 'Salt Lake City', 'San Diego', 'Beijing',
       'Grand Rapids', 'Shanghai', 'Beau Vallon', 'Hamburg', 'Vienna',
       'Birmingham', 'Kansas City', 'Raleigh', 'Milwaukee', 'Lehi',
       'Burlington', 'Bend', 'Sacramento', 'Guadalajara', 'Zug', 'Cairo',
       'Dubai', 'Gothenburg', 'Nairobi', 'Dover', 'Luxembourg', 'Malmö',
       'Lexington', 'Stamford', 'Logan', 'Eindhoven', 'Athens',
       'Minneapolis', 'Krakow', 'Hyderabad', 'Nebraska City',
       'Copenhagen', 'Non-U.S.', 'Trondheim', 'Oslo', 'Düsseldorf',
       'San Luis Obispo', 'Jerusalem', 'Belo Horizonte', 'Brussels',
       'Noida', 'The Hague', 'Hong Kong', 'Auckland', 'Kuala Lumpur',
       'Bristol', 'Budapest', 'Ho Chi Minh City', 'Winnipeg', 'Bangkok',
       'Vilnius', 'Ottawa', 'Richmond', 'Accra', 'Saskatoon',
       'Porto Alegre', 'Indianapolis', 'Victoria', 'Ferdericton', 'Dakar',
       'Florianópolis', 'Lahore', 'Santa Barbara', 'Durham', 'Louisville',
       'Nashua', 'Huntsville', 'Spokane', 'Lima', 'Houston', 'Malmo',
       'Brasilia', 'Selangor', 'Manama', 'Karachi', 'Bucharest',
       'Istanbul', 'Moscow', 'Davenport', 'Toulouse', 'Montevideo',
       'Edinburgh', 'Fayetteville', 'Madison', 'Sofia', 'Santa Fe',
       'Cork', 'Ahmedabad', 'Joinville', 'Hanoi', 'Norwalk', 'Zurich',
       'Dusseldorf', 'Lisbon', 'Cape Town', 'Missoula', 'Quebec',
       'Prague', 'Yangon', 'New Orleans', 'Tampa Bay', 'Charleston'],
      dtype=object)

In [16]:
# valores unicos
layoffs['company'].unique()

array(['Atlassian', 'SiriusXM', 'Alerzo', ..., 'Panda Squad',
       'Tamara Mellon', 'Blackbaud'], dtype=object)

In [17]:
#pip install thefuzz
#pip show thefuzz

In [21]:
from thefuzz import fuzz
from thefuzz import process

# Crear una lista de nombres únicos de compañías
unique_companies = layoffs['company'].unique()

# Función para encontrar y unificar nombres similares
def unify_company_names(company_name, unique_names, threshold=80):
    match = process.extractOne(company_name, unique_names, scorer=fuzz.ratio)
    if match[1] >= threshold:
        return match[0]
    return company_name

# Aplicar la función para unificar nombres en la columna 'company'
layoffs['company'] = layoffs['company'].apply(lambda x: unify_company_names(x, unique_companies))

# Opcional: Verificar los resultados
print(layoffs['company'].value_counts())

WeWork       6
Loft         6
Uber         5
Swiggy       5
OYO          5
            ..
Kabam        1
Plum         1
Liftoff      1
Meta         1
Blackbaud    1
Name: company, Length: 1885, dtype: int64

In [29]:
# valores unicos
layoffs.head()

,company,location,industry,total_laid_off,percentage_laid_off,date,stage,country,funds_raised_millions
0,Atlassian,Sydney,Other,500.0,0.05,3/6/2023,Post-IPO,Australia,210.0
1,SiriusXM,New York City,Media,475.0,0.08,3/6/2023,Post-IPO,United States,525.0
2,Alerzo,Ibadan,Retail,400.0,NaN,3/6/2023,Series B,Nigeria,16.0
3,UpGrad,Mumbai,Education,120.0,NaN,3/6/2023,Unknown,India,631.0
4,Loft,Sao Paulo,Real Estate,340.0,0.15,3/3/2023,Unknown,Brazil,788.0

In [ ]:
#hemos comprobado que la columna date está en tipo object, así que la pasaremos a su formato date

layoffs['date'] = pd.to_datetime(layoffs['date'])

In [ ]:
# para sustituir y estandarizar

layoffs['industry'] = layoffs['industry'].replace({'.*Crypto.*' : 'Crypto'}, regex = True)

In [ ]:
layoffs['country'].str.strip()
layoffs['company'].str.strip()
layoffs['location'].str.strip()
layoffs['industry'].str.strip()
layoffs['stage'].str.strip()

0       Post-IPO
1       Post-IPO
2       Series B
3        Unknown
4        Unknown
          ...
2352     Unknown
2353        Seed
2354    Series C
2355    Series A
2356    Post-IPO
Name: stage, Length: 2356, dtype: object

In [ ]:
layoffs['company'].sort_values().unique

<bound method Series.unique of 486               E Inc.
1218     Included Health
235                #Paid
677                &Open
1283         100 Thieves
              ...
1134              iRobot
1763              kununu
323                nCino
1782               tZero
2239               uShip
Name: company, Length: 2356, dtype: object>

## Null values

In [ ]:
#porcentaje de nulos

layoffs.isnull().sum()/len(layoffs)

company                  0.000000
location                 0.000000
industry                 0.001698
total_laid_off           0.313667
percentage_laid_off      0.332767
date                     0.000424
stage                    0.002547
country                  0.000000
funds_raised_millions    0.088710
dtype: float64

In [ ]:
layoffs.loc[layoffs.total_laid_off.isnull()]

,company,location,industry,total_laid_off,percentage_laid_off,date,stage,country,funds_raised_millions
9,Accolade,Seattle,Healthcare,NaN,NaN,2023-03-03,Post-IPO,United States,458.0
10,Indigo,Boston,Other,NaN,NaN,2023-03-03,Series F,United States.,1200.0
16,Flipkart,Bengaluru,Retail,NaN,NaN,2023-03-02,Acquired,India,12900.0
17,Kandela,Los Angeles,Consumer,NaN,1.0,2023-03-02,Acquired,United States,NaN
18,Truckstop.com,Boise,Logistics,NaN,NaN,2023-03-02,Acquired,United States,NaN
...,...,...,...,...,...,...,...,...,...
2340,Vacasa,Portland,Travel,NaN,NaN,2020-03-20,Series C,United States,526.0
2345,Anyvision,Tel Aviv,Security,NaN,NaN,2020-03-19,Series A,Israel,74.0
2346,Popin,New York City,Fitness,NaN,1.0,2020-03-19,Unknown,United States,13.0
2347,Tuft & Needle,Phoenix,Retail,NaN,NaN,2020-03-19,Acquired,United States,0.0
2351,Service,Los Angeles,Travel,NaN,1.0,2020-03-16,Seed,United States,5.1

In [ ]:
#comprobamos donde está el nulo y qué influencia puede tener
layoffs.date.isnull().sum()
layoffs.loc[layoffs.date.isnull()]

#lo borramos
layoffs.drop(index = 2356, inplace=True)

In [ ]:
layoffs.dropna(subset=['stage'], inplace=True)
layoffs.dropna(subset=['industry'], inplace=True)
layoffs.dropna(subset=['funds_raised_millions'], inplace=True)

## Handling missing values

In [ ]:
layoffs['total_laid_off'].fillna(layoffs['total_laid_off'].mode()[0], inplace=True)
layoffs['percentage_laid_off'].fillna(layoffs['percentage_laid_off'].mode()[0], inplace=True)

In [ ]:
layoffs.loc[(layoffs.stage == 'Unknown')]

,company,location,industry,total_laid_off,percentage_laid_off,date,stage,country,funds_raised_millions
3,UpGrad,Mumbai,Education,120.0,0.10,2023-03-06,Unknown,India,631.0
4,Loft,Sao Paulo,Real Estate,340.0,0.15,2023-03-03,Unknown,Brazil,788.0
6,Lendi,Sydney,Real Estate,100.0,0.10,2023-03-03,Unknown,Australia,59.0
33,Amount,Chicago,Finance,130.0,0.25,2023-02-27,Unknown,United States,283.0
37,BitSight,Tel Aviv,Security,40.0,0.10,2023-02-26,Unknown,Israel,401.0
...,...,...,...,...,...,...,...,...,...
2310,Jama,Portland,Product,12.0,0.05,2020-03-25,Unknown,United States,233.0
2322,Peerfit,Tampa Bay,HR,100.0,0.40,2020-03-24,Unknown,United States,47.0
2329,GrayMeta,Los Angeles,Data,20.0,0.40,2020-03-23,Unknown,United States,7.0
2346,Popin,New York City,Fitness,100.0,1.00,2020-03-19,Unknown,United States,13.0
2352,HopSkipDrive,Los Angeles,Transportation,8.0,0.10,2020-03-13,Unknown,United States,45.0

In [ ]:
layoffs.describe().T

,count,mean,std,min,25%,50%,75%,max
total_laid_off,2141.0,185.884633,622.517733,3.0,50.0,100.0,110.0,12000.0
percentage_laid_off,2141.0,0.201456,0.215037,0.0,0.1,0.1,0.2,1.0
funds_raised_millions,2141.0,818.788088,5606.534076,0.0,50.0,156.0,441.0,121900.0

## Remove Innecesary Columns

In [ ]:
layoffs.shape

(2141, 9)

In [ ]:
layoffs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2141 entries, 0 to 2355
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   company                2141 non-null   object
 1   location               2141 non-null   object
 2   industry               2141 non-null   object
 3   total_laid_off         2141 non-null   float64
 4   percentage_laid_off    2141 non-null   float64
 5   date                   2141 non-null   datetime64[ns]
 6   stage                  2141 non-null   object
 7   country                2141 non-null   object
 8   funds_raised_millions  2141 non-null   float64
dtypes: datetime64[ns](1), float64(3), object(5)
memory usage: 167.3+ KB

In [ ]:
layoffs.to_csv('../Data/layoffs_clean.csv', index=False)